# Object Oriented Programming

What is a programming paradigm?
- They way you strucutre and use your codebase.

The following table shows information about JEE information about some students.

| ROLL NO. | NAME | BOARD | PHYSICS | CHEMISTY | MATHS |
|-|-|-|-|-|-|
| 1001 | Ravi Charan | CBSE | 80 | 70 | 75 |
| 1002 | Harshit Jain | UP | 70 | 90 | 85 |
| 1003 | Abhishek Singh | ISCE | 100 | 20 | 30
| 1004 | Swapnil Chauhan | CBSE | 50 | 40 | 15

Let us ask some questions to our data.

* How to find marks of a particular subject to a particular roll no.?
* Find the average marks of physics of all students?
* How to get the total marks for each student?

There are various ways to handle how the data is stored and accessed in our program. Let's compare some of them.

In [3]:
# 1 : modelling the table rows as list

marks_data = [
    [1001, 'Ravi Charan', 'CBSE', 80, 70, 75],
    [1002, 'Harshit Jain', 'UP', 70, 90, 85],
    [1003, 'Abhishek Singh', 100, 20, 30],
    [1004, 'Swapnil Chauhan', 50, 40, 15]
]

# Since Harshit's record is in the second row, it's available at index 1 (counting starts from 0)
print('Marks in physics', marks_data[1][3])
print('Total marks', marks_data[1][3] + marks_data[1][4] + marks_data[1][5])

# Finding the average marks in physics
total_marks_in_physics = 0
count = 0
for rec in marks_data:
    count += 1
    total_marks_in_physics += rec[3]
    
print('average marks in physics is', total_marks_in_physics / count)  # not considering that there can be 0 students

Marks in physics 70
Total marks 245
average marks in physics is 52.5

In [5]:
# 2 : another way some people use

roll_numbers = [1001, 1002, 1003, 1004]
names = ['Ravi Charan', 'Harshit Jain', 'Abhishek Singh', 'Swapnil Chauhan']
board = ['CBSE', 'UP', 'ISCE', 'CBSE']
physics_marks = [80, 70, 100, 50]
chemistry_marks = [70, 90, 20, 40]
maths_marks = [75, 85, 30, 15]

# Find the physics marks of Harshit and also the total

# Harshit is at second position : 1 if counting starts from 0
# So, the position of list where the required information lies is `1`.
print('Physics marks', physics_marks[1])
print('Total marks', physics_marks[1], chemistry_marks[1], maths_marks[1])

total_marks_in_physics = 0
count = 0
for each_mark in physics_marks:
    count += 1 
    total_marks_in_physics += each_mark
    
print('average marks in physics', total_marks_in_physics / count)


# another elegant way of finding the average physics marks this time
total_marks_in_physics = sum(physics_marks)
count = len(physics_marks)
print('average marks in physics', total_marks_in_physics / count)

Physics marks 70
Total marks 70 90 85
average marks in physics 75.0
average marks in physics 75.0

In [9]:
# Bringing the data of all students together
# Using dictionary with roll number as key and other columns as values
# Benefit: No position required, easy to search

marks_data = {
    1001: ['Ravi Charan', 'CBSE', 80, 70, 75],
    1002: ['Harshit Jain', 'UP', 70, 90, 85],
    1003: ['Abhishek Singh', 100, 20, 30],
    1004: ['Swapnil Chauhan', 50, 40, 15]
}

print('Physics marks', marks_data[1002])
print('Total marks', marks_data[1002][2] + marks_data[1002][3] + marks_data[1002][4])

# another elegant way of doing the sum
print('Total marks', sum(marks_data[1002][2:]))

# average marks in physics
total_marks_in_physics = 0
count = 0
for rec in marks_data.values():
    count += 1
    total_marks_in_physics += rec[2]
    
print('average marks in physics', total_marks_in_physics / count)

Physics marks ['Harshit Jain', 'UP', 70, 90, 85]
Total marks 245
Total marks 245
average marks in physics 52.5

## Problems so far

1. Need of remembering the index where the required value will be found.
2. A part of record exists at one place and another somewhere else. This should have been at just one place.

First methods solves the second problem and the second method solves the first problem.

## The concept of *Class*

A `Class` is a data type which has some attributes and method.

The instances of a class are called its `objects`.

The `attributes` describe the properties of `object` and `methods` operate on the object created.

Consider the version below which takes the example of a ball:

In [17]:
class Ball:
    def __init__(self, radius, color):
        self.radius = radius
        self.color = color
        
    def get_volume(self):
        return 4 / 3 * 3.14 * self.radius * self.radius * self.radius
    

b = Ball(3, 'red')
print(b.radius)
print(b.color)
print(b.get_volume())

3
red
113.03999999999998

## Attributes and methods

In above examples, `b` is an object/instance not of type `list` or `dict`, but of type `ball`.
This gives more like a self-identity to the subject here.

`radius` and `color` are the attributes of ball `b`.
The way an `integer` has a `value` as attribute, same way a ball has a `radius` and a `color`.
Classes allow your variable/instance to have multiple attributes.

`get_volume()` is a method of class `Ball`. A method operates on a particular instance of a class.
Thus, calling `get_volume()` on `b` operates on the ball itself.

The keyword `self` helps in identifying the right object which is being referred to at some point.

### The marks example using classes

In [16]:
class Record:
    def __init__(self, roll_no, name, phy, chem, math):
        self.roll_no = roll_no
        self.name = name
        self.physics = phy
        self.chemistry = chem
        self.maths = math
        
    def total_marks(self):
        return self.physics + self.chemistry + self.maths
    

marks_data = {
    1001: Record('Ravi Charan', 'CBSE', 80, 70, 75),
    1002: Record('Harshit Jain', 'UP', 70, 90, 85),
    1003: Record('Abhishek Singh', 'ISCE', 100, 20, 30),
    1004: Record('Swapnil Chauhan', 'CBSE', 50, 40, 15)
}

print('Physics marks', marks_data[1002].physics)
print('total marks', marks_data[1002].total_marks())

total_marks_in_physics = sum(each.physics for each in marks_data.values())
count = len(marks_data)
print('average marks in physics', total_marks_in_physics / count)

Physics marks 70
total marks 245
average marks in physics 75.0